<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/img/logo-fav.png">
    <title>Beagle</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="be-wrapper">
      <%= render 'top' %>
      <%= render 'left' %>
      <%= yield %>
      <%= render 'setting' %>
      <%= javascript_include_tag 'application' %>
    </div>
  </body>
</html>
